.rating-stars {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.starIcon.filled {
    color: gold;
}

.starIcon.half {
    color: gold;
    position: relative;
}

.starIcon.empty {
    color: var(--no-active-tab);
}