.ReviewNotFound {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    transition: background-color 0.25s ease-in-out;
    min-height: 450px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: larger;
}

.ReviewContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    background-color: var(--background-color);
    transition: background-color 0.25s ease-in-out;
    flex-direction: column;
}

.reviews-wrapper {
    position: relative;
    width: 100%;
    max-width: 1330px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--footer-bg);
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

.ramo {
    position: absolute;
    height: 70px;
    top: 25px;
}

.reviews-wrapper h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--primary-text-color);
}

.review-arrow-left,
.review-arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--no-active-tab);
    font-size: 25px;
    cursor: pointer;
    z-index: 10;
}

.review-arrow-left:hover {
    color: var(--tab-hover);
}

.review-arrow-left {
    left: -45px;
}

.review-arrow-right:hover {
    color: var(--tab-hover);
}

.review-arrow-right {
    right: -45px;
}

.reviewCarousel-container {
    overflow: hidden;
    width: 100%;
}

.reviewButton {
    background-color: var(--background-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-top: 10px;
    color: var(--text-footer);
}

.reviewButton:hover {
    cursor: pointer;
    background-color: var(--icons-login-hover);

}

@media (max-width: 768px) {
    .ReviewContainer {
        padding: 0px;
        padding-bottom: 30px;
    }
}