.homepageAdmin-container {
  background-color: var(--background-color);
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-direction: column;
  height: auto;
  font-size: 20px;
}