.homepage-container {
  background-color: var(--background-color);
  padding: 40px 50px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-button {
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  font-size: 16px;
  margin-bottom: 40px;
}

.search-button:hover {
  cursor: pointer;
  background-color: var(--icons-login-hover);
}

.tab-navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px;
}

.tab-h2 {
  font-size: 1.8em;
  font-weight: normal;
  color: var(--no-active-tab);
  cursor: pointer;
  transition: color 0.3s ease, font-weight 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  white-space: nowrap;
}

.tab-h2:hover {
  color: var(--tab-hover);
}

.tab-h2.active {
  color: var(--orange-avanade);
  font-weight: bold;
}

.tab-separator {
  font-size: 1.8em;
  color: var(--no-active-tab);
  font-weight: normal;
  margin: 0 10px;
}

.h2Promo {
  text-align: center;
  margin: 40px 0 10px;
  font-size: 1.8em;
  color: var(--orange-avanade);
}

.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  flex-direction: column;
  width: 100%;
}

.carousel-container {
  overflow: hidden;
  width: 100%;
}

.carousel-arrow-left,
.carousel-arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--no-active-tab);
  font-size: 25px;
  cursor: pointer;
  z-index: 10;
}

.carousel-arrow-left:hover {
  color: var(--tab-hover);
}

.carousel-arrow-left {
  left: -45px;
}

.carousel-arrow-right:hover {
  color: var(--tab-hover);
}

.carousel-arrow-right {
  right: -45px;
}

@media (max-width: 768px) {
  .tab-h2 {
    font-size: 1.4em;
    margin: 0 5px;
  }

  .tab-separator {
    font-size: 1.4em;
  }

  .h2Promo {
    font-size: 1.4em;
  }
}