.BookButtonContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--background-color-invert);
    transition: background-color 0.25s ease-in-out;
    padding: 20px 20px;
    height: 80px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1500;
    color: var(--secondary-text-color);
    padding-left: 30px;
    padding-right: 30px;
}

.book-btn {
    background: var(--orange-avanade-invert);
    padding: 0.7rem 3rem;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
}

.book-btn:hover {
    background: var(--orange-avanade);
    cursor: pointer;
}

@media (max-width: 768px) {
    .BookButtonContainer {
        padding-left: 15px;
        padding-right: 15px;
    }

    .BookButtonContainer h1 {
        font-size: 28px;
    }

    .book-btn {
        font-size: 18px;
        padding: 0.6rem 2rem;
    }
}