.container-pwd {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    transition: background-color 0.25s ease-in-out;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.btn-recovery {
    background: linear-gradient(to right, #f15a29, #e94e1b);
    color: white;
    border: none;
    padding: 0.8rem 4rem;
    gap: 3rem;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

.edit-form-password {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

@media (max-width: 768px) {
    .edit-form-password {
        margin-left: 0;
        margin-right: 0;
    }
}