.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #ff5800, #890078);
  transition: background-color 0.25s ease-in-out;
  padding: 20px 20px;
  height: 120px;
}

.header img {
  filter: var(--logo-filter);
}

.logoDesktop {
  height: 100px;
  cursor: pointer;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.fa-heart-icon {
  color: var(--secondary-text-color);
  margin-right: 10px;
}

.fa-heart-icon:hover {
  cursor: pointer;
  color: red;
}

.logoMobile {
  height: 120px;
  cursor: pointer;
  display: none;
}

@media (max-width: 765px) {
  .logoDesktop {
    display: none;
  }

  .logoMobile {
    display: block;
  }

  .fa-heart-icon {
    margin-right: 5px;
  }

  .header-right {
    gap: 0px;
  }
}