* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", OpenSans, Roboto, Arial, Tahoma, Helvetica, sans-serif;
}

:root {
  --background-color: #f6f6f6;
  --foreground-color: #003cff;
  --primary-text-color: #0a0a0a;
  --background-form-color: #c5c2c2;
  --secondary-text-color: #ffffff;
  --toggle-bg: #f3f1d7;
  --toggle-fg: #ffd000;
  --toogle-icon-color: #f6f6f6;
  --logo-filter: none;
  --icons-login-color: #666666;
  --icons-login-hover: #dcdcdc;
  --text-footer: #4c4c4c;
  --orange-avanade: #FF5800;
  --footer-bg:#ffffff;
}

[data-theme="dark"] {
  --background-color: #1E1E1E;
  --foreground-color: #567aff;
  --primary-text-color: #f6f6f6;
  --background-form-color: #c5c2c2;
  --secondary-text-color: #0a0a0a;
  --toggle-bg: #1E1E1E;
  --toggle-fg: #00a6ff;
  --toogle-icon-color: #0a0a0a;
  --logo-filter: invert(100%);
  --icons-login-color: #ffffff;
  --icons-login-hover: #3b3b3b;
  --text-footer: #cccccc;
  --orange-avanade: #DC4600;
  --footer-bg:#0a0a0a;
}